spring:
  datasource:
    password: ${MYSQL_PASSWORD:root}
    url: jdbc:mysql://${MYSQL_HOST:}:${MYSQL_PORT:}/${MYSQL_DATABASE:}
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
JWT_SECRET_KEY: 931949128c37ce0092f6eb8fc450f6e844f19103c6c626683437e76cef3bd855
